<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  href="/styles/tailwind.css">
        <link rel="icon" href="/favicon.ico">
        <title>Welcome to ATC!</title>
    </head>
    <body class="bg-slate-100">
        <div class="px-20 py-12">
            <img class="mt-4 mx-auto" src="/images/ATClogo.png" alt="Assisted Traffic Control">
        </div>
        
        
        <p class="text-center text-blue-400 text-4xl p-4 font-semibold">Welcome to ATC!</p> 
        <p class="text-center text-black text-2xl">
        Having trouble managing your network's ingress? You've come to the right place.
        </p>
        <form action="/generator" method="get" class="space-x-2 justify-center flex px-6 py-2.5">
            <input type="submit" class="hover:bg-blue-700 hover:shadow-lg hover:cursor-pointer inline-block bg-blue-200 text-white font-medium uppercase shadow-md rounded active:bg-blue-900 active:shadow-xl active:cursor-progress transition duration-100 p-4" value="Tree Generator" />
        </form>
    </body>
</html>